{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true
  },
  "ignorePatterns": [
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "func-names": "off",
    "global-require": "off",
    "require-await": "error",
    "import/prefer-default-export": "off",
    "jsx-props-no-spreading": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/button-has-type": "off",
    "react/jsx-first-prop-new-line": [1, "always"],
    "react/jsx-max-props-per-line": [1, {"maximum": 1, "when": "always"}],
    "react/jsx-one-expression-per-line": [1, { "allow": "single-child" }],
    "react/jsx-indent-props": [2, 2]
  }
}
